.prompt-container .field-display {
  border: 1px solid #DDD;
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
  text-align: right;
  background-color: #f9f9f9;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
}