<div class="prompt-container" style="display:flex;flex-direction: column;">
    <div class="header">
        <b>{{title}}</b>
        <p>{{description}}</p>
    </div>
    <div class="list-region" style="flex:1">
        <div *ngFor="let listItem of inputParams.items"
            (click)="selection = listItem;onListItemFocus(listItem)"
            [class.active]="selection === listItem"
            class="button" style="max-height:80px">
            <div class="text">
                {{inputParams.map(listItem)}}
            </div>
        </div>
    </div>
    <div style="padding:10px" class="button-region">
        <div *ngFor="let button of options" 
            (click)="onOptionClicked(button)"
            class="button active">
            <div class="text">
                {{button}}
            </div>
        </div>
    </div>
</div>