@import "styles.scss";

.app-receipt {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-height: 0;
}

$pad: 20px;

.pad {
  padding: $pad;
}

.pad-top {
  padding-top: $pad;
}

.pad-left {
  padding-left: $pad;
}

.pad-right {
  padding-right: $pad;
}

.selected {
  // background-color: $primary;
  // color: white; /* optional: make text readable */
}

// .receipt-area {
//   padding-top: $pad;
//   flex-grow: 1;
// }
.receipt-table {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border-spacing: 0px;
  cursor: pointer;
  width: 100%;
}

.summary-area .detailtext {
  color: darkgray;
}

.summary-area .text {
    font-size: 24px;
    font-weight: bold;
}

.summary-area {
  display: grid;
  grid-template-columns: min-content auto; /* 3 rows */
  background-color: #fbfbfb;
  row-gap: 8px;
  flex-shrink: 0;
}

.row-height {
  height: 40px;
}

.highlight-bar {
  position: absolute;
  left: 0;
  right: 0;
  @extend .row-height;
  //height: 42px; // Adjust to match row height if needed
  background-color: rgba(0, 123, 255, 0.2); // light blue highlight
  transition: top 250ms cubic-bezier(0.25, 1, 0.5, 1);

  pointer-events: none;
  z-index: 1;
}

.receipt-area {
  position: relative;
  padding-top: $pad;
  height: 0;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
  flex-grow: 1;
}
