<div class="app-receipt">
  <!-- <div class="pad-left pad-right" style="padding-top:10px;text-align: center">
    {{transactionReferenceNumber ? "#" + transactionReferenceNumber : "Ready for Next Transaction"}}
  </div> -->
  <div class="receipt-area">
    <div #highlightBar class="highlight-bar"></div>
    <table class="receipt-table">
      <colgroup>
        <col style="width: 50px" />
        <col style="width: auto" />
        <col style="width: 10px" />
      </colgroup>

      <!-- <thead>
                <tr>
                    <td>
                        Quantity
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Price
                    </td>
                </tr>
            </thead> -->
      <tbody>
        <tr *ngFor="let receiptItem of receiptItemList; let i = index" [ngClass]="{ selected: i == selectedItemIndex, incoming: receiptItem.total < 0}"
          (click)="onClickItem(i)"
          
          >
          <td class="pad-left row-height">
            {{ receiptItem.quantity }}
          </td>
          <td>
            {{ receiptItem.name }}
          </td>
          <td style="text-align: right" class="pad-right">
            {{ receiptItem.total | currency }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pad">
      {{memo}}
    </div>
  </div>
  <div class="summary-area pad">
    <div class="detailtext">Subtotal</div>
    <div class="detailtext" style="text-align:right;">{{subtotal | currency}}</div>


    @if(changeAmount() != 0) {
    <div class="text">Change</div>
    <div class="text" style="text-align: right">
      {{ changeAmount() | currency }}
    </div>
    } @else {
    <div class="text">Balance</div>
    <div class="text" style="text-align: right">
      {{ balanceDue | currency }}
    </div>
    }
  </div>
</div>