<div class="prompt-container">
  <div class="header">
    <b>{{ title }}</b>
    <p>{{ description }}</p>
  </div>

  <div class="prompt-scroll-area">
    <input #myInput class="field-display" [(ngModel)]="inputValue"(keydown.enter)="onEnter()">
  </div>

  <div style="padding: 10px" class="button-region">
    <div *ngFor="let button of options" (click)="onOptionClicked(button, {inputValue: inputValue})" class="button">
      <div class="text">
        {{ button }}
      </div>
    </div>
  </div>
</div>