.app-preset-grid-button {
    background-color: aliceblue;
    height:100%;
    width:100%;
    cursor:pointer;
    border-radius: 20px;
}

.app-preset-grid-button .text {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100%;            /* ensure it takes full height */
  width: 100%;
  text-align: center;
}
