<div style="margin:auto;">
    <!-- <button (click)="onGoBack()">Go Back</button>
    <br><br> -->
    <label for="menu-select">Select menu</label><br>
    <select id="menu-select" [value]="selectedGridMenuId">
        <option value="1">Main Menu</option>
    </select>

    <div class="grid-container" style="height:500px">
        <!-- <app-preset-grid-button *ngFor="let item of gridItems" ></app-preset-grid-button> -->
        <div class="app-preset-grid-button" *ngFor="let item of gridItems; let i = index"
            (click)="onClickGridItem(item, i)" [class.menu]="item.OnClick_OpenGridMenuID != null">
            @if (item.Label != "<BLANK>") {
            <div class="text">
                {{item.Label}}
            </div>
            }
            <!-- @else {
                <button (click)="onAddItem(item, i)">Add Item</button><br>
                <button (click)="onAddSubmenu(item, i)">Add Submenu</button>
            } -->
        </div>
    </div>
    <!-- Settings for selected tile -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <b>MODE: Select Product</b><br>
        GridMenuButtonId: <input type="number" formControlName="gridMenuButtonId"><br>
        Tile Label: <input type="text" formControlName="label"><br>
        Product ID: <input formControlName="productId"><br>
        Default Quantity: <input type="number" formControlName="defaultQuantity"><br>
        X: <input type="number" formControlName="x"><br>
        Y: <input type="number" formControlName="y"><br>
        <button>Save</button>
    </form>
</div>