@import 'styles.scss';

// TODO: In the future, make it just use same styling as real one.

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal-width columns */
  grid-template-rows: repeat(5, 1fr);    /* 5 equal-height rows */
  gap: 8px;

  height:100%;
  max-height:100%;
  overflow-y: scroll;
}

.app-preset-grid-button {
    background-color: $primary;
    color: white;
    // height:100%;
    // width:100%;
    cursor:pointer;
    border-radius: 10px;
    // aspect-ratio: 1/1;
}

.app-preset-grid-button .text {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100%;            /* ensure it takes full height */
  width: 100%;
  text-align: center;
}
